.button-container {
  background-color: #2979ff;
  color: white;
  border-radius: 4px;
  height: 28px;
  padding: 0 28px;
  text-transform: uppercase;
  cursor: pointer;

  transition: 0.5s;
}

.button-container:disabled,
.button-container[disabled] {
  background-color: #cccccc;
  cursor: unset;
  color: #666666;
}

@media only screen and (max-width: 425px) {
  .button-container {
    width: 100%;
  }
}
